<form action="formEliminar" >
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre del plato</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
  </div>
  <button type="submit" class="btn btn-danger">Enviar</button>
</form>