<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Crear Plato</title>
</head>
<body>
    {{>header}}
    <h1>Crear Plato</h1>
    <div class="separador"></div>
    <div class="divForm">
        {{>formularioCreacion}}
    </div>
    {{>scriptFront}}
</body>
</html>