<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Eliminar Plato</title>
</head>
<body>
    {{>header}}
    <h1>Eliminar Plato</h1>

    {{>formularioEliminacion}}
    
    {{>scriptFront}}
</body>
</html>