<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Eliminar Plato</title>
</head>
<body>
    {{>header}}
    <h1>Eliminar Plato</h1>
    <div class="separador"></div>
    <div class="divForm">
        {{>formularioEliminacion}}
    </div>
    {{>scriptFront}}
</body>
</html>