<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Menú</title>
</head>
<body>
    {{>header}}
    <h1>Menú</h1>
    <div class="containerCards">
        {{#each menu}}
        {{>cards }}
        {{/each}}
    </div>
    
    {{>scriptFront}}
</body>
</html>

